<template>
    <section>
        <img alt="Vue logo" src="https://img.icons8.com/cotton/1600/cherry-sweet.png" style="width:200px;"/>
        <h1>cherrychart</h1>
        <p>스트리머 인기순위</p>
        <h3>about</h3>
        <p>
          안녕하세요, 체리차트 운영자입니다.<br/>
          트수이자 <a href="https://www.twitch.tv/saddummy" target="_blank" rel="noopener">서새봄냥</a>님 팬입니다!<br/>
          아래 메일로 연락 부탁드립니다 ^ ^
        </p>
        <h3>contact</h3>
        <p><a href="mailto:cherry2chart@gmail.com">cherry2chart@gmail.com</a></p>
    </section>
</template>

<script>
export default {
  name: 'Contact',
}
</script>

<style scoped>
</style>
