<template>
    <section>
        <h1>donations</h1>
        <p>기부해주셔서 감사합니다</p>
        <h3></h3>
        <ul>
        <li><a href="https://twip.kr/cherryentertainment" target="_blank" rel="noopener">Twip 기부하기</a></li>
        <li><a href="https://toon.at/donate/cherrychart" target="_blank" rel="noopener">투네이션 기부하기</a></li>
        </ul>
        <br/>
        <p>
          기부해주신 금액은 전부 운영자가 빵 사먹는데 사용될 것입니땅<br/>
          농담이구요ㅠㅠ.. 서버 유지라도 할 수 있게ㅠㅠ..<br/>
          만천하에 당신의 자애로움을 널리 알리겠습니다. (기부 목록 작업중)<br/>
        </p>
        <table>
        </table>
    </section>
</template>

<script>
export default {
  name: 'Donations',
}
</script>

<style scoped>
</style>
