<template>
  <div class="about">
    <Contact />
    <br/><hr/>
    <Story />
    <br/><hr/>
    <Donations />
    <br/><br/><br/><br/>
  </div>
</template>

<script>
import Contact from './Contact.vue'
import Story from './Story.vue'
import Donations from './Donations.vue'
export default {
  name: 'AboutPage',
  components: {
      Contact,
      Story,
      Donations,
  },
}
</script>

<style>
.about {
  text-align: center;
}
.about h3 {
  margin: 40px 0 0;
}
.about ul {
  list-style-type: none;
  padding: 0;
}
.about li {
  display: inline-block;
  margin: 0 10px;
}
.about a {
  color: #42b983;
}
.about section {
  margin: 0 30px;
}
</style>
