<template>
    <section>
        <h1>story</h1>
        <p>왜 체리차트를 만들었나</p>
        <h3></h3>
        <p>
          저는 스트리머 방송을 자주 보는데요<br/>
          적적하면 옆에 틀어놓고 일 하기도 합니다.<br/>
          그러던 와중에 그냥 뜬금없이!!<br/>
        </p>
        <p>
          스트리머들의 실시간 인기 순위를 한눈에<br/>
          볼 수 있었으면 좋겠다고 생각했습니다.<br/>
          그래서 그냥 만들었습니다;;<br/>
        </p>
        <p>
          앞으로의 계획은?<br/>
          유투브와 아프리카티비 순위도 지원해 보고 싶네요.<br/>
          대한민국 스트리머 대표 인가차트가 되었으면 하는 작은 바람입니다!<br/>
        </p>
    </section>
</template>

<script>
export default {
  name: 'Story',
}
</script>

<style scoped>
</style>
