<template>
  <div id="app">
    <ul style="text-align: center;">
      <li><router-link :to="{ name: 'home' }">실시간 차트</router-link></li>
      <li><router-link :to="{ name: 'about' }">About</router-link></li>
    </ul>
    <router-view />
  </div>
</template>

<script>
export default {
  name: 'app',
  components: {

  }
}
</script>

<style>

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  font-weight: 250;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
