<template>
  <div class="home">
<div class="container">
  <p>현재 시청자 수 : {{ viewer_count }}</p>
  <table class="table table-hover bg-white table-sm">
    <thead>
      <tr>
        <th class="text-center">#</th>
        <th class="text-center">스트리머</th>
        <th class="text-center">시청율</th>
        <th class="text-center">시청자수</th>
        <th class="text-center" >시간</th>
        <th class="text-center">보기</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="(streamer, index) in streamers" v-bind:key="index">
        <td class="text-center">{{ index+1 }}</td>
        <td><img width="45" height="45" :src="streamer.thumbnail_url.replace('{width}', '90').replace('{height}', '90')"
                  :alt="streamer.user_name"> <a class="lead" style="margin-left:45px;">{{ streamer.user_name }}</a></td>
        <td class="text-center"><p class="lead">{{ (streamer.viewer_count / viewer_count * 100).toFixed(2) }}%</p></td>
        <td class="text-center"><p class="lead">{{ streamer.viewer_count }}</p></td>
        <td class="text-center"><p class="lead">{{ streamer.started_at}}</p></td>
        <td class="text-center"><a href="#" onclick="alert('not supported')">방송보기</a></td>
      </tr>
    </tbody>
  </table>
</div>

  </div>
</template>

<script>
import axios from 'axios'
export default {
  name: 'HomePage',
    // components: {
    //     Contact,
    // }
  data () {
    return {
      streamers: null,
      viewer_count: 0,
    }
  },
  mounted () {
    axios
      .get(`${this.$hostname}/streamers`)
      .then(response => {
        this.viewer_count = response['data']['viewer_count']
        this.streamers = response['data']['streamers'] || ''
      })
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
